@charset "utf-8";

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '../../node_modules/flowbite/dist/flowbite.min.css';

.no-mobile {
  @apply z-[200];
  @apply flex;
  @apply h-screen;
  @apply w-screen;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply md:hidden;
  @apply dark:bg-zinc-900;
}

.progress-indicator {
  position: fixed;
  z-index: 1000;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  display: none;

  .indeterminate {
    background-color: #000;
  }

  .indeterminate-dark:before,.indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s
      cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
      infinite;
  }

  .indeterminate-dark:after,.indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s
      cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
      infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
  }
}

.dark {
  .progress-indicator {
    .dark\:indeterminate-dark {
      background-color: #fff;
    }
  }
}

.form-indicator {
  display: none;
}

.htmx-request {
  &.progress-indicator {
    display: inline;
  }

  &.form-indicator {
    display: block;
  }
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

#main-toast.htmx-settling {
  opacity: 100;
}

#main-toast {
  // background: #E1F0DA;
  opacity: 0;
  transition: opacity 3s ease-out;
}

@import "_htmx";
