package page

import "github.com/hrz8/goatsapp/views/layout"
import "github.com/hrz8/goatsapp/views/component"

templ HomePage() {
	@layout.Layout() {
		@component.Nav()
		<div class="text-white">
			<h1>Home</h1>
			<div class="text-3xl font-bold italic underline">This is homepage!</div>
		</div>
	}
}
